body {
background-color: rgb(111, 201, 236);
color: rgb(255, 255, 255);
}
h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-style: regular;
    text-decoration: underline;
}
