body {
  height: 2000px;
}
div {
  width: 200px;
  height: 200px;
  margin: auto;
}

.satu {
  background-color: lightblue;
  position: relative;
  top: 100px;
}

.dua {
  background-color: lightcoral;
  position: absolute;
  top: 120px;
  left: 150px;
}

.tiga {
  background-color: lightslategrey;
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 800px;
  height: 700px;
  border: 2px solid salmon;
  position: relative;
}
